
#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 9999;
    background-color: #8258e5;
    border-color: #8258e5;
}

#back-to-top-btn:hover{
  background-color: #5d3ca8 !important;
}
/* CSS for fade-in effect */
.fade-in {
  animation: fadeIn 0.5s;
  opacity: 1;
}

/* CSS for fade-out effect */
.fade-out {
  animation: fadeOut 0.5s;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* CSS to position the floating button */
#back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
}

/* CSS for the icon */
#back-to-top-btn i {
  font-size: 24px;
}

/* CSS for showing the button on scroll */
body.show-button #back-to-top-btn {
  opacity: 1;
}

.card{
  border-color: black;
}

#contact-image{
  background-color: #8258e5;
  
}

.contact-area{
  background-color: #8258e5;

}

.main-button{
  background-color: #8258e5;
  border-color: #8258e5;
}


#login-card{
  border-color: #8258e5;
}

#login-img{
  background-color: #8258e5;
}

.accordion{
  --bs-accordion-btn-bg:  rgb(32, 37, 42);
  --bs-accordion-bg: rgb(37, 50, 63);
  --bs-accordion-active-bg: rgb(27, 31, 36);
  --bs-accordion-active-color: rgb(255, 255, 255);
  --bs-accordion-color: #FFFFFF;
  --bs-accordion-btn-color: #FFFFFF;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.btn-outline-primary{
  border-color: #8258e5;
  color:#8258e5;
}
.btn-outline-primary:hover{
  --bs-btn-hover-bg: #8258e5;
  border-color: #8258e5 !important;

}

.main-button:hover, .main-button:active, .main-button:focus{
  background-color: #5d3ca8 !important;
  border-color: #8258e5;
}

.contact-area:hover, .contact-area:active, .contact-area:focus{
  background-color: #5d3ca8 !important;
  border-color: #8258e5 !important;
}

.list-inline-item a{
  color: white;
}

.list-inline-item a:hover{
  color: #5d3ca8;
}

.dropdown-item {
  --bs-dropdown-link-active-bg: #8258e2;
}